In [32]:
# Import Splinter, BeautifulSoup, and Pandas
from splinter import Browser
from bs4 import BeautifulSoup as soup
import pandas as pd
from webdriver_manager.chrome import ChromeDriverManager

In [33]:
# Set up Splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [C:\Users\Mark A\.wdm\drivers\chromedriver\win32\96.0.4664.45\chromedriver.exe] found in cache

## Visit the NASA mars news site

In [34]:
# Visit the Mars news site
url = 'https://redplanetscience.com/'
browser.visit(url)

# Optional delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [35]:
# Convert the browser html to a soup object
html = browser.html
news_soup = soup(html, 'html.parser')

slide_elem = news_soup.select_one('div.list_text')

In [36]:
#display the current title content

title = news_soup.find("div", class_="content_title").get_text()
title

In [37]:
#display the current title content

In [38]:
news_title = title.text
news_title

"NASA's Perseverance Rover Attached to Atlas V Rocket"

In [39]:
# Use the parent element to find the first a tag and save it as `news_title`

news_title

"NASA's Perseverance Rover Attached to Atlas V Rocket"

In [40]:
news_p = news_soup.find('div', class_="article_teaser_body").get_text
news_p

'Ready for its launch later in the month, the Mars-bound rover will touch terra firma no more.'

In [41]:
# Use the parent element to find the paragraph text

news_p

'Ready for its launch later in the month, the Mars-bound rover will touch terra firma no more.'

## JPL Space Images Featured Image

In [42]:
# Visit URL
url = 'https://spaceimages-mars.com'
browser.visit(url)

In [43]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [44]:
# Find and click the full image button

In [45]:
html = browser.html
soup = soup(html, 'html.parser')
image = soup.find('img', class_="headerimage")
image

In [46]:
# Parse the resulting html with soup
img_url_rel = image['src']
img_url_rel

'image/featured/mars1.jpg'

In [47]:
# find the relative image url

img_url_rel

'image/featured/mars1.jpg'

In [48]:
img_url = url + img_url_rel
img_url

'https://spaceimages-mars.comimage/featured/mars1.jpg'

In [49]:
# Use the base url to create an absolute url

img_url

'https://spaceimages-mars.comimage/featured/mars1.jpg'

## Mars Facts

In [50]:
import requests

In [51]:
url='https://galaxyfacts-mars.com/'
r = requests.get(url, verify=False) 
c = r.content
tables = pd.read_html(c)
tables

C:\Users\Mark A\anaconda3\lib\site-packages\urllib3\connectionpool.py:1013: InsecureRequestWarning: Unverified HTTPS request is being made to host 'galaxyfacts-mars.com'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

[                         0                1                2
 0  Mars - Earth Comparison             Mars            Earth
 1                Diameter:         6,779 km        12,742 km
 2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 3                   Moons:                2                1
 4       Distance from Sun:   227,943,824 km   149,598,262 km
 5          Length of Year:   687 Earth days      365.24 days
 6             Temperature:     -87 to -5 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:          2 ( Phobos & Deimos )
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [52]:
facts = tables[0]
facts.head()

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km

In [53]:
# Use `pd.read_html` to pull the data from the Mars-Earth Comparison section
# hint use index 0 to find the table

In [54]:
facts.columns= ['Discription', 'Mars', 'Earth']
facts.set_index('Discription', inplace=True)
facts

                                    Mars            Earth
Discription
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [55]:
facts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>Discription</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

## Hemispheres

In [61]:
url = 'https://marshemispheres.com/'

browser.visit(url)

In [62]:
# Create a list to hold the images and titles.
hemisphere_image_urls = []

# Get a list of all of the hemispheres
links = browser.find_by_css('a.product-item img')

# Next, loop through those links, click the link, find the sample anchor, return the href
for i in range(len(links)):
    # hemisphere info 
    hemisphereInfo = {}
    
    # We have to find the elements on each loop to avoid a stale element exception
    browser.find_by_css('a.product-item img')[i].click()
    
    # Next, we find the Sample image anchor tag and extract the href
    sample = browser.links.find_by_text('Sample').first
    hemisphereInfo["img_url"] = sample['href']
    
    # Get Hemisphere title
    hemisphereInfo['title'] = browser.find_by_css('h2.title').text
    
    # Append hemisphere object to list
    hemisphere_image_urls.append(hemisphereInfo)
    
    # Finally, we navigate backwards
    browser.back()

In [63]:
hemisphere_image_urls

[{'img_url': 'https://marshemispheres.com/images/full.jpg',
  'title': 'Cerberus Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg',
  'title': 'Schiaparelli Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg',
  'title': 'Syrtis Major Hemisphere Enhanced'},
 {'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg',
  'title': 'Valles Marineris Hemisphere Enhanced'}]

In [64]:
browser.quit()